[Unit]
Description=Telegram Music Recommender Bot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/musicRecommenderBot
Environment=PYTHONPATH=/home/ubuntu/musicRecommenderBot
ExecStart=/home/ubuntu/musicRecommenderTeleBot/venv/bin/python bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 